<div class="cadastro-container">
  <h2>Cadastro de Usuário</h2>

  <!-- Mensagens -->
  <div *ngIf="sucessMessage" class="success-message">{{ sucessMessage }}</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <!-- Formulário -->
  <form (ngSubmit)="cadastrar()">
    <!-- Username -->
    <div class="form-group">
      <label for="username">Username: </label>
      <input
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        required
      />
    </div>

    <!-- Role -->
    <div class="form-group">
      <label for="roles">Tipo do usuário: </label>
      <select id="roles" [(ngModel)]="roles[0]" name="roles" required>
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
      </select>
    </div>

    <!-- Botão -->
    <button type="submit" class="cadastrar">Cadastrar</button>
  </form>
</div>
