<div class="playlist-container">
  <div class="header">
    <input
      type="text"
      placeholder="Buscar playlist..."
      [(ngModel)]="searchTerm"
      (input)="filterPlaylists()"
      class="search-input"
    />
    <button (click)="openAddPlaylist()" class="btn-add">Adicionar</button>
  </div>

  <div class="playlist-grid">
    <div *ngFor="let playlist of filteredPlaylists" class="playlist-card">
      <h3>{{ playlist.nome }}</h3>
      <h5>{{ playlist.descricao }}</h5>

      <div class="card-buttons">
        <button (click)="openEditPlaylist(playlist)">Editar</button>
        <button (click)="confirmDelete(playlist.nome)" class="btn-delete">
          Excluir
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isAdding" class="modal-overlay">
  <div class="modal-content">
    <h3>Adicionar Playlist</h3>
    <label>Nome:</label>
    <input type="text" [(ngModel)]="newNome" />
    <label>Descrição:</label>
    <input type="text" [(ngModel)]="newDescricao" />
    <button (click)="saveNewPlaylist()">Salvar</button>
    <button (click)="cancelAdd()">Cancelar</button>
  </div>
</div>

<div *ngIf="isEditing" class="modal-overlay">
  <div class="modal-content">
    <h3>Editar Playlist</h3>
    <label>Nome:</label>
    <input type="text" [(ngModel)]="editedNome" />
    <label>Descrição:</label>
    <input type="text" [(ngModel)]="editedDescricao" />
    <button (click)="saveEdit()">Salvar</button>
    <button (click)="cancelEdit()">Cancelar</button>
  </div>
</div>

<div *ngIf="showConfirmDelete" class="modal-overlay">
  <div class="modal-content">
    <p>Tem certeza que deseja excluir esta playlist?</p>
    <button (click)="deletePlaylist()">Sim</button>
    <button (click)="cancelDelete()">Não</button>
  </div>
</div>
