body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #222;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

input,
button {
  font-size: 1rem;
}
/* You can add global styles to this file, and also import other style files */
