<div class="music-container">
  <div class="header">
    <input
      type="text"
      placeholder="Buscar música..."
      [(ngModel)]="search"
      (input)="searchMusic()"
      class="search-input"
    />
    <button (click)="toggleForm()" class="btn-add">
      {{ showForm ? "Cancelar" : "Adicionar" }}
    </button>
  </div>

  <div *ngIf="showForm" class="form-container">
    <h3>Adicionar Música</h3>
    <form (ngSubmit)="onSubmit()">
      <label>Título:</label>
      <input type="text" [(ngModel)]="newMusic.titulo" name="titulo" required />

      <label>Artista:</label>
      <input
        type="text"
        [(ngModel)]="newMusic.artista"
        name="artista"
        required
      />

      <label>Álbum:</label>
      <input type="text" [(ngModel)]="newMusic.album" name="album" />

      <label>Ano:</label>
      <input
        type="number"
        [(ngModel)]="newMusic.ano"
        name="ano"
        min="1900"
        max="2100"
        required
      />

      <label>Gênero:</label>
      <input type="text" [(ngModel)]="newMusic.genero" name="genero" />

      <button type="submit" class="btn-save">Salvar</button>
    </form>
  </div>

  <div class="music-grid">
    <div *ngFor="let music of musicList" class="music-card">
      <h3>{{ music.titulo }}</h3>
      <h5>{{ music.artista }} - {{ music.album }}</h5>
      <p>
        <strong>Ano:</strong> {{ music.ano }} | <strong>Gênero:</strong>
        {{ music.genero }}
      </p>
      <div class="card-buttons">
        <button (click)="openConfirmDelete(music.id)" class="btn-delete">
          Excluir
        </button>
      </div>
    </div>
  </div>

  <!-- Modal de confirmação de exclusão -->
  <div *ngIf="showConfirmDelete" class="modal-overlay">
    <div class="modal-content">
      <p>Tem certeza que deseja excluir esta música?</p>
      <button (click)="confirmDelete()" class="btn-save">Sim</button>
      <button (click)="cancelDelete()" class="btn-cancel">Não</button>
    </div>
  </div>
</div>
